.overlay
  width 100%
  height 100%
  position absolute
  z-index 1

.overlay_bg_light
  background-color rgba(255, 255, 255, .3)
  padding-top 1px

.overlay_bg_dark
  background-color rgba(0, 0, 0, .6)