doctype html
html(lang="ru-RU")
    include ../blocks/head.pug
    body.body
        .site
            include ../blocks/header.pug
            .site__content.content
                block site__content
            include ../blocks/footer.pug
        //script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
        script(defer='', src='vendor/font-awesome/svg-with-js/js/fontawesome-all.js')
        script(src='assets/js/vendor.min.js')
        //script(src='assets/js/common.min.js')
