extends ../layouts/layout.pug

block site__content
    section.main
        .main__left.clearfix
            .main__cat
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
        .main__right.clearfix
            .overlay.overlay_bg_light
            .main__body
                .main__header
                    h1.main__title Online store title text
    section.section.category
        .container
            .section__header
                .row
                    .col-sm-12
                        h2.section__title Популярные
            .section__content
                .row
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')

                .row
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                .row
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
    section.section.contacts
        .overlay.overlay_bg_dark
        .contacts__body
            .container
                .section__header
                    .row
                        .col-sm-12
                            h2.section__title.section__title_color_light Конакты
                .section__content
                    .row
                        .col-sm-12
                            .contacts__item
                                i.fas.fa-mobile-alt.contacts__fa(aria-hidden='true')
                                | +7(123)456-78-90
                            .contacts__item
                                i.fas.fa-map-marker-alt.contacts__fa(aria-hidden='true')
                                | Online store address text
                            .contacts__item
                                i.far.fa-envelope.contacts__fa(aria-hidden='true')
                                | example@example
    section.section.map
        .container
            .section__header
                .row
                    .col-sm-12
                        h2.section__title Как добраться
            .section__content
                .row
                    .col-sm-12
                        .map__wrap
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287426.525060507!2d37.35231985846527!3d55.749473317362614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1523126052253" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                .row
                    .col-sm-12
                        .map__tabs
                            ul.nav.nav-tabs.map__list(role='tablist')
                                li.active.map__item(role='presntation')
                                    a.map__link(href='#moscow', aria-controls='moscow', role='tab', data-toggle='tab') Из Москвы
                                li.map__item(role='presntation')
                                    a.map__link(href='#region', aria-controls='region', role='tab', data-toggle='tab') Из области
                            .tab-content.map__content
                                #moscow.tab-pane.fade.in.active(role='tabpanel')
                                    .map__tabpanel
                                        h3.map__title На автомобиле
                                        .map__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Mauris euismod odio et felis molestie ultrices. Nam accumsan, leo efficitur placerat porttitor, ex ligula pellentesque purus, vitae tristique sem lectus nec erat. Mauris faucibus sodales ipsum, vitae viverra nisl laoreet sit amet. Sed porta, nibh id imperdiet consequat, nulla nisl congue mi, nec interdum nunc enim at ipsum.
                                    .map__tabpanel
                                        h3.map__title Общественным транспортом
                                        .map__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                #region.tab-pane.fade(role='tabpanel')
                                    .map__tabpanel
                                        h3.map__title На автомобиле из области
                                        .map__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    .map__tabpanel
                                        h3.map__title Общественным транспортом из области
                                        .map__desc
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Mauris euismod odio et felis molestie ultrices. Nam accumsan, leo efficitur placerat porttitor, ex ligula pellentesque purus, vitae tristique sem lectus nec erat. Mauris faucibus sodales ipsum, vitae viverra nisl laoreet sit amet. Sed porta, nibh id imperdiet consequat, nulla nisl congue mi, nec interdum nunc enim at ipsum.
