.section
  position relative

.section__header
  padding-bottom 30px

.section__title
  font-family titleFont
  border-bottom 1px solid accentColor
  margin 0
  padding-bottom 5px

.section__title_color_light
  color lightColor