.map
  padding 50px 0

.map__wrap
  width 100%
  height 450px
  margin-bottom 30px

.map__tabs
  padding 30px 0 50px

.map__list
  border-bottom 1px solid accentColor

.map__item.active > .map__link
  background-color accentColor
  color lightColor
  border 0
  border-radius 0 // перебиваем bootstrap стили
  transition-duration .15s
  &:focus,
  &:hover
    background-color accentColor
    color lightColor
    border 0

.map__item > .map__link
  color accentColor
  border 0
  transition-duration .15s
  &:focus
    outline 0
  &:hover
    background transparent
    color darken(accentColor, changeColor)
    border 0
    border-radius 0

.map__title
  font-family titleFont
  color baseColor
  font-size round(fontSize * 1.3)
  margin 10px 0
  font-weight 700


