.button
  display inline-block
  background-color accentColor
  border 0
  color lightColor
  width 36px
  height 36px
  transition-duration .35s
  &:focus
    outline 0
  &:hover
    background-color darken(accentColor, changeColor)
