.site
  background-color lightColor
  width 100%
  min-width siteMinWidth
  max-width siteMaxWidth
  min-height 100%
  margin 0 auto
  position relative
  padding-bottom stickyFooterHeight
  @media only screen and (max-width: md)
    padding-bottom round(stickyFooterHeight * 1.4)
  @media only screen and (max-width: sm)
    padding-bottom round(stickyFooterHeight * 2.8)
.site__footer
  width 100%
  min-width siteMinWidth
  max-width siteMaxWidth
  position absolute
  bottom 0
  overflow hidden
  height stickyFooterHeight
  @media only screen and (max-width: md)
    height round(stickyFooterHeight * 1.4)
  @media only screen and (max-width: sm)
    height round(stickyFooterHeight * 2.8)