footer.site__footer.footer
    .container
        .row
            .col-sm-3
                .bottom-nav
                    h3.bottom-nav__title Информация
                    ul.bottom-nav__list
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') О нас
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Информация о доставке
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Политика беопасности
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Условия соглашения
            .col-sm-3
                .bottom-nav
                    h3.bottom-nav__title Служба пддержки
                    ul.bottom-nav__list
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Связаься с нами
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Возврат товара
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Карта сайта
            .col-sm-3
                .bottom-nav
                    h3.bottom-nav__title Дополнительно
                    ul.bottom-nav__list
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Производители
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Подарочные сертификаты
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Партнеры
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Товары со скидкой
            .col-sm-3
                .bottom-nav
                    h3.bottom-nav__title Личный кабинет
                    ul.bottom-nav__list
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Личный кабинет
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') История заказов
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Мои закладки
                        li.bottom-nav__item
                            a.bottom-nav__link(href='#') Рассылка новостей
        .row
            .col-sm-12
                .footer__line
        .row
            .col-sm-12
                .copyright Copyright, 2017 г.