header.site__header.header
    nav.navbar.navbar-inverse.navbar-fixed-top.top-nav
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href='#')
                    img( alt = 'logo' src = 'assets/img/logo.png')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.top-nav__list
                    li.top-nav__item
                        a.top-nav__link(href='#')
                            i.fa.fa-home.top-nav__fa(aria-hidden='true')
                            | Главная
                            span.sr-only (current)
                    li.dropdown.top-nav__item
                        a.dropdown-toggle.top-nav__link(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            i.i.fas.fa-user-circle.top-nav__fa(aria-hidden='true')
                            | Личный кабинет
                            span.caret.caret__replace-left
                        ul.dropdown-menu
                            li
                                a(href='#') Авторизация
                            li.divider(role='separator')
                            li
                                a(href='#') Регистрация
                    li.top-nav__item
                        a.top-nav__link(href='#')
                            i.fas.fa-heart.top-nav__fa(aria-hidden='true')
                            | Мои закладки
                    li.top-nav__item
                        a.top-nav__link(href='#')
                            i.fas.fa-shopping-cart.top-nav__fa(aria-hidden='true')
                            | Корзина
                    li.top-nav__item
                        a.top-nav__link(href='#')
                            i.fas.fa-check-square.top-nav__fa(aria-hidden='true')
                            | Оформление заказа
                .top-cat
                    ul.nav.navbar-nav.hidden-sm.hidden-lg.top-cat__list
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                        li.top-cat__item
                            a.top-cat__link(href='#') Category menu item
                .navbar-text.navbar-right.top-contacts
                    .top-contacts__item
                        i.fas.fa-phone-square.top-nav__fa(aria-hidden='true')
                        | +7 (123) 456-78-94
                    .top-contacts__item
                        | Shop address text
                .navbar-text.navbar-right.top-search
                    form.search-form
                        input.search-form__input(type='text', placeholder='Поиск товара по категориям')
                        button.button(type='submit')
                            i.fas.fa-search


