.contacts
  background baseColor url("../img/bg/bg_contacts.jpg") center top no-repeat
  background-size cover

.contacts__body
  padding 50px 0
  position relative
  z-index 2

.contacts__item
  font-family titleFont
  color lightColor
  font-size round(fontSize * 1.1)
  text-transform uppercase
  margin 15px 0

.contacts__fa
  font-size round(fontSize * 1.3)
  margin-right 10px

