.main
  height 550px
  position relative
  @media only screen and (max-width: sm)
    height 400px
.main__left
  float left
  width 25%
  position relative
  @media only screen and (max-width: md)
    width 30%
  @media only screen and (max-width: sm)
    display none
.main__right
  background lightColor url(../img/bg/bg_main.jpg) center top no-repeat
  background-size cover
  float right
  width 75%
  position relative
  @media only screen and (max-width: md)
    width 70%
  @media only screen and (max-width: sm)
    float none
    width auto
.main__cat
  background-color accentColor
  height 550px
  display flex
  flex-direction column
  align-items center
  justify-content center
  @media only screen and (max-width: sm)
    height 400px
.main__link
  display block
  border-bottom 1px solid darken(accentColor, changeColor)
  font-family titleFont
  color lightColor
  font-size round(fontSize * 1.2)
  padding 8px 12px
  transition-duration .5s
  &:last-child
    border 0
  &:focus
    outline 0
  &:hover
    color lightColor
    text-decoration none
    padding 8px 4px 8px 20px
.main__body
  position relative
  z-index 2
.main__header
  height 550px
  text-align center
  display flex
  flex-direction column
  align-items center
  justify-content center
  @media only screen and (max-width: sm)
    height 400px
.main__title
  color accentColor
  font-size round(fontSize * 4.5)
  letter-spacing 5px
  margin 0
  padding 0 10px 15px
  border-bottom 2px solid accentColor
  @media only screen and (max-width: md)
    font-size round(fontSize * 3)
  @media only screen and (max-width: sm)
    font-size round(fontSize * 2.5)