.top-contacts
  margin 0
  padding-right 15px
.top-contacts__item
  font-family titleFont
  color accentColor
  font-size round(fontSize * 1.2)
  text-align right
  @media only screen and (max-width: sm)
    text-align center
.top-contacts__fa
  margin-right 5px