.body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #242424;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.bottom-nav {
  padding: 10px 10px 0;
}
.bottom-nav__title {
  font-size: 17px;
  color: #fff;
  margin: 0 0 5px;
}
.bottom-nav__list {
  padding-left: 15px;
}
.bottom-nav__list {
  padding: 2px 0;
}
.bottom-nav__link {
  color: #fff;
}
.bottom-nav__link:focus {
  outline: 0;
}
.bottom-nav__link:hover {
  text-decoration: none;
  color: #fff;
}
.button {
  display: inline-block;
  background-color: #f24f2c;
  border: 0;
  color: #fff;
  width: 36px;
  height: 36px;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}
.button:focus {
  outline: 0;
}
.button:hover {
  background-color: #d8310d;
}
.button-group {
  text-align: center;
}
.category {
  padding: 50px 0;
}
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.contacts {
  background: #242424 url("../img/bg/bg_contacts.jpg") center top no-repeat;
  background-size: cover;
}
.contacts__body {
  padding: 50px 0;
  position: relative;
  z-index: 2;
}
.contacts__item {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px 0;
}
.contacts__fa {
  font-size: 18px;
  margin-right: 10px;
}
.content {
  padding-top: 80px;
}
.copyright {
  text-align: right;
  color: #fff;
}
.footer {
  background-color: #242424;
  color: #fff;
  padding: 15px 0;
}
.footer__line {
  background-color: #fff;
  width: 100%;
  height: 1px;
  margin: 15px 0;
}
html {
  height: 100%;
}
.link {
  color: #242424;
}
.link:focus {
  outline: 0;
}
.link:hover {
  color: #242424;
  text-decoration: none;
}
.main {
  height: 550px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .main {
    height: 400px;
  }
}
.main__left {
  float: left;
  width: 25%;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .main__left {
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .main__left {
    display: none;
  }
}
.main__right {
  background: #fff url("../img/bg/bg_main.jpg") center top no-repeat;
  background-size: cover;
  float: right;
  width: 75%;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .main__right {
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .main__right {
    float: none;
    width: auto;
  }
}
.main__cat {
  background-color: #f24f2c;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .main__cat {
    height: 400px;
  }
}
.main__link {
  display: block;
  border-bottom: 1px solid #d8310d;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 17px;
  padding: 8px 12px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.main__link:last-child {
  border: 0;
}
.main__link:focus {
  outline: 0;
}
.main__link:hover {
  color: #fff;
  text-decoration: none;
  padding: 8px 4px 8px 20px;
}
.main__body {
  position: relative;
  z-index: 2;
}
.main__header {
  height: 550px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .main__header {
    height: 400px;
  }
}
.main__title {
  color: #f24f2c;
  font-size: 63px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0 10px 15px;
  border-bottom: 2px solid #f24f2c;
}
@media only screen and (max-width: 991px) {
  .main__title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .main__title {
    font-size: 35px;
  }
}
.map {
  padding: 50px 0;
}
.map__wrap {
  width: 100%;
  height: 450px;
  margin-bottom: 30px;
}
.map__tabs {
  padding: 30px 0 50px;
}
.map__list {
  border-bottom: 1px solid #f24f2c;
}
.map__item.active > .map__link {
  background-color: #f24f2c;
  color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
.map__item.active > .map__link:focus,
.map__item.active > .map__link:hover {
  background-color: #f24f2c;
  color: #fff;
  border: 0;
}
.map__item > .map__link {
  color: #f24f2c;
  border: 0;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
.map__item > .map__link:focus {
  outline: 0;
}
.map__item > .map__link:hover {
  background: transparent;
  color: #d8310d;
  border: 0;
  border-radius: 0;
}
.map__title {
  font-family: 'Roboto Condensed', sans-serif;
  color: #242424;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 700;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.overlay_bg_light {
  background-color: rgba(255,255,255,0.3);
  padding-top: 1px;
}
.overlay_bg_dark {
  background-color: rgba(0,0,0,0.6);
}
.product {
  max-width: 270px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.product__thumb {
  max-width: 270px;
  max-height: 180px;
  overflow: hidden;
}
.product__img {
  display: block;
  width: 100%;
  height: auto;
}
.product__title {
  margin: 0;
}
.product__link {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #f24f2c;
  text-align: center;
  padding: 15px 0 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.product__link:focus {
  outline: 0;
}
.product__link:hover {
  color: #d8310d;
  text-decoration: none;
}
.product__desc {
  height: 59px;
  overflow: hidden;
}
.product__desc p {
  text-align: center;
  margin: 0;
}
.product__price {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}
.search-form {
  width: 290px;
  height: 36px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-for__input {
  border: 0;
  width: 250px;
  height: 36px;
  padding: 5px;
}
.section {
  position: relative;
}
.section__header {
  padding-bottom: 30px;
}
.section__title {
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 1px solid #f24f2c;
  margin: 0;
  padding-bottom: 5px;
}
.section__title_color_light {
  color: #fff;
}
.site {
  background-color: #fff;
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 230px;
}
@media only screen and (max-width: 991px) {
  .site {
    padding-bottom: 322px;
  }
}
@media only screen and (max-width: 767px) {
  .site {
    padding-bottom: 644px;
  }
}
.site__footer {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 230px;
}
@media only screen and (max-width: 991px) {
  .site__footer {
    height: 322px;
  }
}
@media only screen and (max-width: 767px) {
  .site__footer {
    height: 644px;
  }
}
.top-cat {
  padding: 10px;
}
.top-cat__list {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
.top-cat__list .top-cat__item {
  border-bottom: 1px solid #ccc;
}
.top-cat__list .top-cat__item .top-cat__link {
  font-family: 'Roboto Condensed', sans-serif;
  color: #242424;
  text-transform: uppercase;
}
.top-cat__list .top-cat__item .top-cat__link:focus {
  outline: 0;
}
.top-cat__list .top-cat__item .top-cat__link:hover {
  color: #242424;
}
.top-cat__list .top-cat__item:last-child {
  border: 0;
}
.top-contacts {
  margin: 0;
  padding-right: 15px;
}
.top-contacts__item {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f24f2c;
  font-size: 17px;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .top-contacts__item {
    text-align: center;
  }
}
.top-contacts__fa {
  margin-right: 5px;
}
.top-nav {
  margin: 0;
  padding: 10px 0 5px;
  min-height: 80px;
}
.top-nav__list {
  text-align: center;
}
.top-nav__fa {
  margin-right: 5px;
}
.caret__replace-left {
  margin-left: 7px;
}
.top-search {
  margin: 0;
  padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  .top-search {
    padding: 20px 0;
  }
}
